[Unit]
Description=Modbus RTU Service
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service

[Service]
Type=dbus
BusName=xyz.openbmc_project.ModbusRTU
Restart=always
RestartSec=5
ExecStart=/usr/libexec/phosphor-modbus/phosphor-modbus-rtu

[Install]
WantedBy=multi-user.target
